<Files "subscribers*">
Header set Content-Type "text/plain; charset=utf-8"
AuthType Basic
AuthName "The Secret Password."
AuthUserFile /web/folk/hermasl/light/.htpasswd
Require valid-user
</Files>

<Files "log">
Header set Content-Type "text/plain; charset=utf-8"
</Files>
