<Files "subscribers">
Order Allow,Deny
Deny from all
</Files>

<Files "subscribers_unconfirmed">
Order Allow,Deny
Deny from all
</Files>

<Files "log">
Header set Content-Type "text/plain; charset=utf-8"
AuthType Basic
AuthName "Loggen er passordbeskyttet."
AuthUserFile /web/folk/hermasl/light/.htpasswd
Require valid-user
</Files>
