body {
	background-color: #eeeeee;
	font-family: sans-serif;
	max-width: 600px;
	margin: 0px auto;
}
.card {
	margin: 0.5em;
	padding: 1.0em;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px grey;
}
.card > :first-child {
	margin-top: 0;
}
.card > :last-child {
	margin-bottom: 0;
}
p {
	text-align: justify;
	text-justify: inter-word;
}
#updatebutton {
	width: 100%; 
	border: 0; 
	color: white; 
	padding: 2.0em;;
	margin: 0.5em 0;
}
#updatebuttonmaintext {
	font-weight: bold;
	font-size: 2.5em;
}
#updatebuttonsubtext {
	font-size: 2em;
}
#errormessage {
	color: red;
	font-weight: bold;
}
h1, h2 {
	text-align: center;
}
.announcement {
	background-color: #0080ff; 
	color: white; 
}
.announcement a {
	color: white;
	text-decoration: underline;
}
#response {
	color: red; 
	padding: 1.0em;
	margin-bottom: 10px;
	border: 1px solid red;
	display: none;
}
table {
	border-collapse: collapse;
	width: 100%; 
	font-size: 1.5em;
	table-layout: auto;
	text-align: center;
}
table th, table td {
	padding: 0.3em;
	border: 1px solid black;
}
#lighttable {
	font-size: 1em;
}
#subscribeform {
	margin-top: 10px;
	display: grid;
	grid-template-columns: auto auto auto;
}
#subscribeform > label {
	font-weight: bold;
	text-align: center;
	grid-column: 1;
}
#subscribeform > input {
	grid-column: 2;
}
#subscribeform > button {
	grid-column: 3;
	margin: 0 auto;
}
#banner {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}
#header {
	max-width: 600px;
	font-size: 60px;
	overflow: hidden;
	font-family: "Open Sans";
	text-align: center;
	margin: 0 auto;
	line-height: 1em;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2") format("woff2");
}
